
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.flex {
    display: flex;
}

.container_large {
    max-width: 1200px;
}

.container_small {
    max-width: 1000px;
    padding: 65px 0;
}

.section > * , section > *, footer > * {
    margin: 0 auto;
}

a.button_blue {
    background-color: #0061ff;
    color: #fff;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header nav bar */

header .nav_bar a:not(.button_blue) {
    color: #000;
}

header .nav_bar a:not(.logo) {
    text-align: center;
    text-decoration: none;
    padding: 6px 16px;
}

.logo {
    padding-top: 7px;
}

header a:hover:not(.button_blue) {
    text-decoration: underline;
}

.nav_bar {
    align-items: center;
    height: 80px;
    padding: 20px;
}

.nav_bar img {
    margin-right: 25px;
    min-width: calc(127px / 2);
}

.nav.right {
    margin-left: auto;
}

.nav {
    gap: 5px;
    align-items: center;
}

/* main header */

main > header {
    background-image: url('../img/background_azure.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 90%;
}

header.section h1 {
    font-size: 77px;
    font-weight: 900;
    padding-top: 80px;
}

header .box_bottom {
    margin-top: 50px;
}

.container_large .left {
    flex-grow: 1;
    flex-basis: 30%;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.container_large .img {
    flex-basis: 70%;
}

header .container_large p {
    line-height: 22px;
    /* margin-bottom: 40px; */
}

main .button_blue {
    padding: 11px 16px;
}

.arrow_down {
    font-size: 50px;
    margin: 40px 0 0 2px;
}

/* main main */

.bussines {
    margin-top: 5px;
}

.bussines h2 {
    font-size: 40px;
}

.bussines .fatturazione {
    margin-top: 60px;
    font-size: 15px;
}

.fatturazione li {
    gap: 50px;
}

.fatturazione li input {
    display: none;
}

.fatturazione li input + label::before {
    content: '';
    display: inline-block;
    width: 15px;
    aspect-ratio: 1/1;
    border: 3px solid #d9d9d9;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.fatturazione li input:checked + label::before {
    content: '';
    display: inline-block;
    width: 9px;
    aspect-ratio: 1/1;
    border: 6px solid #0061ff;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

/* card */

.table_col_3 {
    justify-content: space-between;
}

.table_col_3 .card {
    width: calc((100% - 50px * 2) / 3);
}

.card {
    margin-top: 50px;
    border: 1px solid #c6c6c6;
    font-size: 14px;
}

.card .titolo {
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    border-bottom: 1px solid #c6c6c6;
}

.card .body {
    padding: 30px;
}

.card .body h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.card .body .price {
    margin-bottom: 10px;
}

.card .body .url {
    margin-bottom: 50px;
    font-weight: 300;
}

.card .body ul:not(:last-of-type) {
    margin-bottom: 50px;
}

.card .body ul li {
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
}

.card .body ul li i {
    margin-top: 2px;
}

.fa-check {
    color: #0061ff;
}

.card .body a.button_blue {
    margin-bottom: 30px;
}

.card .body .acquista_ora {
    margin-bottom: 30px;
}

.card .body .acquista_ora a {
    color: #0000ee;
}

.card .body hr {
    width: 20%;
    margin-bottom: 50px;
}

.card .body h4 {
    margin-bottom: 30px;
}

.card .body .left {
    flex-basis: 70%;
}

.card .body .right {
    flex-basis: 30%;
}

.card .info {
    font-size: 14px;
    margin-bottom: 50px;
}

.card .info2 {
    font-size: 14px;
}

.card .body .right .button_blue {
    margin-left: auto;
    width: 238px;
}

/* partner section */

.partner {
    margin-top: 20px;
}

.partner .img {
    flex-basis: 61%;
}

.partner .text {
    flex-basis: 39%;
    padding: 50px 40px 50px 50px;
}

.partner .text h3 {
    font-size: 25px;
    margin-bottom: 18px;
}

.partner .button_white {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid black;
    margin: 30px 0;
    text-decoration: none;
    color: #000;
}

/* operazioni Dropbox Business */

.operazioni h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.container_small .row {
    flex-wrap: wrap;
    gap: 50px;
}

.card_2 {
    width: calc((100% - 50px * 2) / 3);
}

.card_2 h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

/* piu di 500.000 */

.piu_di_500 h2 {
    font-size: 40px;
    margin: 50px 0;
}

.piu_di_500 a {
    color: #0000ee;
    margin-bottom: 30px;
    display: block;
}

/* azziende section */

.container {
    padding: 65px 0;
}

.container > *{
    width: calc(100% / 3);
}

.azziende {
    flex-wrap: wrap;
}

.azziende .img {
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azziende .img img {
    width: 50%;
    filter: invert(1);
}

.designit {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}
.arizona {
    background-color: #61082b;
}
.university {
    background-color: #0093ce;
}
.topps {
    background-color: #ff1c1c;
}
.world {
    background-color: #d5001f;
}
.hearst {
    background-color: #b4d0e7;
}
.lonely {
    background-color: #0d2481;
}
.clear {
    background-color: #ffd830;
}

.container .description {
    padding: 50px;
    background-color: #f5f5f5;
}

.container .description img {
    width: 50%;
}

.container .description hr {
    width: 20%;
    margin: 40px 0;
}

.container .description .editore {
    margin-top: 50px;
}

/* porta dropbox business */

.porta {
    background-color: #b4d0e7;
    margin-top: -65px;
    padding: 60px 0;
}

.porta h2 {
    font-size: 40px;
    color: #61082b;
    flex-basis: 50%;
}

.porta .right {
    flex-basis: 50%;
}
.porta .right a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
}

/* domande frequenti */

.requests {
    padding: 150px 0 100px;
}

.requests h2 {
    font-size: 40px;
    margin-bottom: 60px;
}

.requests hr {
    margin: 40px 0;
}

.requests .request p {
    font-weight: bold;
}

.requests .request {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.requests .request i {
    margin-right: 35px;
}

.requests .request hr:last-of-type {
    margin-top: 40px;

}

/* footer */

footer {
    background-color: #000;
    color: #fff;
}

footer .row {
    padding: 100px 0;
    justify-content: space-between;
    gap: 50px;
}

footer .row .col h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

footer .row .col ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .row .col ul a {
    color: #fff;
    text-decoration: none;
}

footer .row .col ul a:hover {
    text-decoration: underline;
}

footer hr {
    width: 10%;
    margin-top: 10px;
}

footer .language > * {
    margin: 50px 0;
    background-color: transparent;
    color: rgb(129, 129, 129);
    border: 0;
    font-size: 16px;
    filter: invert(0.5);
}

footer .language img {
    width: 15px;
    vertical-align: middle;
}

footer .language > select > option {
    background-color: black;
    border: 1px solid #fff;
    color: #fff;
}