
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.flex {
    display: flex;
}

.container_large {
    max-width: 1220px;
}

.contaner_small {
    max-width: 1000px;
}

.section > * , section > * {
    margin: 0 auto;
}

/* header */

header a:not(.logo) {
    text-decoration: none;
    color: #000;
    padding: 8px 17px;
}

header a:hover:not(.button_inizia) {
    text-decoration: underline;
}

.nav_bar {
    align-items: center;
    height: 80px;
    padding: 20px;
}

.nav_bar img {
    margin-right: 25px;
}

.nav.right {
    margin-left: auto;
}

.nav.right .button_inizia {
    background-color: #0061ff;
    color: #fff;
}