
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.flex {
    display: flex;
}

.container_large {
    max-width: 1240px;
    padding: 0 20px;
}

.container_small {
    max-width: 1040px;
    padding: 65px 20px;
}

.section > * , section > *, footer > * {
    margin: 0 auto;
}

a.button_blue {
    background-color: #0061ff;
    color: #fff;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

a.button_blue:hover {
    background-color: #79acff;
}

/* header nav bar */

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
}

header .nav_bar a:not(.button_blue, .a_mobile) {
    color: #000;
}

header .nav_bar a.button_blue {
    text-align: center;
    text-decoration: none;
    padding: 6px 16px;
}

header .nav_bar a:not(.logo, .button_blue, .a_mobile) {
    text-align: center;
    text-decoration: none;
    padding: 29px 20px;
    white-space: nowrap;
    transition: all 0.2s;
}

.logo {
    padding-top: 7px;
}

header a:hover:not(.logo, .button_blue) {
    background-color: #f2eee8;
}

.nav_bar {
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

.nav_bar img {
    margin-right: 25px;
    min-width: calc(127px / 2);
}

.nav.right {
    margin-left: auto;
}

.nav.right .accedi {
    margin-right: 5px;
    padding-right: 15px;
}

.nav {
    align-items: center;
}

.nav_mobile {
    width: 34px;
    aspect-ratio: 1/1;
    margin-left: 20px;
    position: relative;
    display: none;
}

.nav_mobile input {
    display: none;
}

.nav_mobile ul {
    overflow: hidden;
    height: 0;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #f2eee8;
    transition: height 0.2s, right 0.2s, left 0.2s;
    border-bottom-left-radius: 10px;
}

.nav_mobile input:checked ~ ul {
    height: 264px;
    right: -20px;
    left: -200px;
}

.nav_mobile ul li {
    text-align: right;
}

.nav_mobile ul li a.a_mobile {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.nav_mobile ul li {
    padding: 1px 0;
}

.nav_mobile ul li:hover:not(.nav_mobile ul li:first-of-type, .nav_mobile ul li:last-of-type) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0;
}
.nav_mobile ul li:hover:first-of-type {
    border-bottom: 1px solid black;
    padding: 1px 0 0;
}
.nav_mobile ul li:hover:last-of-type {
    border-top: 1px solid black;
    padding: 0 0 1px;
}

.button_mobile{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.nav_mobile input:checked ~ .button_mobile::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    background-color: #f2eee8;
    z-index: 11;
    border-top-left-radius: 2px;
}

.nav_mobile input:checked ~ .icon_nav_mobile {
    transform: rotate(45deg);
    left: 5px;
    top: 15px;
}

.nav_mobile input:checked ~ .icon_nav_mobile::before {
    transform: rotate(90deg);
    left: 0;
    top: 0;
}

.nav_mobile input:checked ~ .icon_nav_mobile::after {
    display: none;
}

.icon_nav_mobile {
    width: 70%;
    height: 10%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon_nav_mobile::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon_nav_mobile::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 50%);
}

@media (max-width: 1100px) {
    .nav > li:not(.nav.right > li:last-of-type) {
        display: none;
    }
    .nav_mobile {
        display: block;
    }
}

/* main header */

header.section h1 {
    font-size: 77px;
    font-weight: 900;
    padding-top: 160px;
}

header .box_bottom {
    margin-top: 50px;
}

@media (max-width: 660px) {
    header.section h1 {
        font-size: 30px;
    }
}

@media (min-width: 660px) and (max-width: 900px) {
    header.section h1 {
        font-size: 50px;
    }
}

@media (max-width: 900px) {
    header .box_bottom {
        flex-direction: column;
    }
    header .box_bottom > .img {
        order: -1;
    }
}


.container_large .left {
    align-self: flex-start;
    flex-grow: 1;
    flex-basis: 30%;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    position: relative;
}

.container_large .left::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    left: -5000px;
    width: 10000px;
    height: 3000px;
    background-color: #b4d0e6;
    z-index: -10;
}


.container_large .img {
    flex-basis: 70%;
}

header .container_large p {
    line-height: 22px;
}

main .button_blue {
    padding: 11px 16px;
}

.arrow_down {
    font-size: 50px;
    margin: 40px 0 0 2px;
}

/* main main */

.bussines {
    margin-top: 5px;
}

.bussines h2 {
    font-size: 40px;
}

.bussines ul li div.left label:hover, .bussines ul li div.right label:hover {
    cursor: pointer;
}

.bussines .fatturazione {
    margin-top: 60px;
    font-size: 15px;
}

.fatturazione li {
    gap: 50px;
}

.fatturazione li input {
    display: none;
}

.fatturazione li input + label::before {
    content: '';
    display: inline-block;
    width: 15px;
    aspect-ratio: 1/1;
    border: 3px solid #d9d9d9;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

.fatturazione li input:checked + label::before {
    content: '';
    display: inline-block;
    width: 11px;
    aspect-ratio: 1/1;
    border: 5px solid #0061ff;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

/* card */

@media (max-width: 645px) {
    .table_col_3 {
        flex-direction: column;
    }
}

.table_col_3 {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.table_col_3 .card {
    flex-basis: 0;
    flex-grow: 1;
}

.table_col_3 .card:last-child {
    flex-basis: 100%;
}

.card {
    border: 1px solid #c6c6c6;
    font-size: 14px;
}

.card .titolo {
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
    border-bottom: 1px solid #c6c6c6;
}

.card .body {
    padding: 30px;
}

.card .body h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.card .body .price {
    margin-bottom: 10px;
}

.card .body .url {
    margin-bottom: 50px;
    font-weight: 300;
}

.card .body ul:not(:last-of-type) {
    margin-bottom: 50px;
}

.card .body ul li {
    margin-bottom: 20px;
    display: flex;
    gap: 5px;
}

.card .body ul li i {
    margin-top: 2px;
}

.fa-check {
    color: #0061ff;
}

.card .body a.button_blue {
    margin-bottom: 30px;
}

.card .body .acquista_ora {
    margin-bottom: 40px;
}

.card .body .acquista_ora a {
    color: #0000ee;
}

.card .body hr {
    width: 20%;
    margin-bottom: 50px;
}

.card .body h4 {
    margin-bottom: 30px;
}

.card .body .top {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card .body .bottom > p {
    max-width: 615px;
}

.card .info {
    font-size: 14px;
    margin-bottom: 50px;
}

.card .info2 {
    font-size: 14px;
}

.card .body .right .button_blue {
    margin-left: auto;
    width: 238px;
}

/* partner section */

.partner {
    margin-top: 20px;
}

@media (max-width: 800px) {
    .partner {
        flex-direction: column;
    }
}

.partner .img {
    flex-basis: 61%;
}

.partner .text {
    flex-basis: 39%;
    padding: 50px 30px 50px 50px;
}

.partner .text h3 {
    font-size: 25px;
    margin-bottom: 18px;
}

.partner .button_white {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000;
    margin: 30px 0;
    text-decoration: none;
    color: #000;
}

/* operazioni Dropbox Business */

.operazioni h2 {
    font-size: 40px;
    margin-bottom: 60px;
    margin-top: 20px;
}

.container_small .row {
    flex-wrap: wrap;
    gap: 50px;
}

.card_2 {
    width: calc((100% - 50px * 2) / 3);
}

@media (max-width: 760px) {
    .card_2 {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 190px;
    }
}

.card_2 h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

/* piu di 500.000 */

.piu_di_500 h2 {
    font-size: 40px;
    margin: 65px 0 60px;
}

.piu_di_500 a {
    color: #0000ee;
    margin-bottom: 30px;
    display: block;
}

/* azziende section */

.container {
    padding: 65px 0;
}

.container > *{
    width: calc(100% / 3);
}

.azziende {
    flex-wrap: wrap;
    cursor: pointer;
}

/* DESIGNI BORDER DEFALT */
.azziende .img.designit {
    border: 15px solid #d1e9cd;
}

.azziende > .img:not(.designit):hover {
    border: 15px solid #d1e9cd;
}

.azziende .img {
    user-select: none;
    border: 0px solid #d1e9cd;
    transition: all 0.1s;
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azziende .img img {
    width: 50%;
    filter: invert(1);
}

.designit {
    background-color: #a2d39b;
    /* border: 15px solid #d1e9cd; */
}
.arizona {
    background-color: #61082b;
}
.university {
    background-color: #0093ce;
}
.topps {
    background-color: #ff1c1c;
}
.world {
    background-color: #d5001f;
}
.hearst {
    background-color: #b4d0e7;
}
.lonely {
    background-color: #0d2481;
}
.clear {
    background-color: #ffd830;
}

.container .description {
    padding: 50px;
    background-color: #f5f5f5;
}

.container .description img {
    width: 50%;
}

.container .description hr {
    width: 20%;
    margin: 40px 0;
}

.container .description .editore {
    margin-top: 50px;
}

@media (max-width: 1440px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container > * {
        width: 100%;
    }
    .container > .azziende {
        flex-wrap: nowrap;
    }
    .azziende .img {
        width: 25%;
        aspect-ratio: 1/1;
    }
}

/* porta dropbox business */

.porta {
    background-color: #b4d0e7;
    margin-top: -65px;
    padding: 60px 0;
}

.porta h2 {
    font-size: 40px;
    color: #61082b;
    flex-basis: 50%;
}

.porta .right {
    flex-basis: 50%;
}
.porta .right a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
}

@media (max-width: 760px) {
    .porta .container_small {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .porta .container_small * {
        text-align: center;
    }
}

/* domande frequenti */

.requests {
    padding: 150px 0 100px;
}

.requests h2 {
    font-size: 40px;
    margin-bottom: 60px;
}

.requests .request p {
    font-weight: bold;
}

.requests .request {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 40px 0;
    transition: all 0.2s;
}

.requests .request:hover {
    background-color: #ece7e0;
}

.requests .request i {
    margin-right: 35px;
}

.requests hr:last-of-type {
    margin-bottom: 50px;

}

/* footer */

footer {
    background-color: #000;
    color: #fff;
}

footer .row {
    padding: 100px 0;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

footer .row .col h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

footer .row .col ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .row .col ul a {
    color: #fff;
    text-decoration: none;
}

footer .row .col ul a:hover {
    text-decoration: underline;
}

footer hr {
    width: 10%;
    margin-top: 15px;
}

footer .language > * {
    margin: 50px 0;
    background-color: transparent;
    color: #818181;
    border: 0;
    font-size: 16px;
    filter: invert(0.5);
}

footer .language > select:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer .language img {
    width: 15px;
    vertical-align: middle;
}

footer .language > select > option {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}

@media (min-width: 700px) and (max-width: 1050px) {
    footer .row .col {
        width: calc((100% - 50px * 2) / 3);
    }
}

@media (max-width: 1050px) {
    footer .row {
        justify-content: flex-start;
    }
}